page-list {

}

.facebookLogin{
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	text-align: center;
	width:40vh;
	height:10vh;
	top:65vh;
}

.googleLogin{
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	text-align: center;
	width:40vh;
	height:10vh;
	top:78vh;
}