<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header> -->

<button class="specialmenu" menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
<div *ngIf='!menuShown'>
  <h1>Groups <a href="#">today.</a></h1>
  <h2>{{numOfRooms}} groups | {{ currentTime | async | date:'longDate' }}</h2>


  <div class="addbrick">

      <span class="createinput" [hidden]="!createGroup">
        <ion-icon name="close" style="color: #e74c3c" (click)="toggleInput()"></ion-icon>
        <input type="text" id="groupname" placeholder="Group Name..." class="creategroup" value='' />
        <ion-icon name="checkmark" style="color: #2ecc71" (click)="createRoom(); toggleInput();"></ion-icon>
      </span>
      <span class="addtext" (click)="toggleInput()" [hidden]="createGroup">
          <span class="babycircle">
              <ion-icon name="add"></ion-icon>
          </span>

          Create Group
      </span>


  </div>

    <br />
    <span class="sidetext">192</span><div class="slidebrick"><span class="bricktext" (click)='toggleGroupMenu()'>Go to your groups</span></div>
    <br />
    <span class="sidetext">520</span><div class="slidebrick"><span class="bricktext">Exploring Sketch</span></div>
    <br />
    <br />
</div>
<div *ngIf='menuShown'>
  <ion-content>
  <ion-list>
    <button ion-item *ngFor="let room of rooms">
      <ion-icon name="checkmark" style="color: #2ecc71" (click)="createRoom(); toggleInput();"></ion-icon>
      {{room.name}}
    </button>
  </ion-list>
  </ion-content>
</div>
