page-list {

<<<<<<< HEAD
	::-webkit-scrollbar { 
    	display: none; 
	}

	.specialmenu{
		color: #7E89B4;
		padding-left: 10%;
		padding-top: 10%;
		background-color: transparent;
		font-size: 21px;
	}

	ion-content{
		margin-top: 25vh;
		height: 75vh;
	}

	h1{
		padding-left: 10%;
		color: #7E89B4;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
	}

	h1 a{
		text-decoration: none;
	}

	h2{
		padding-left: 10%;
		color: #7E89B4;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 12px;
	}

	.slidebrick{
		display: block;
		background: linear-gradient(to right, #DEC3FC , #96C5FC);
		width: 95vw;
		height: 12vh;
		margin-left: 10vw;
		border-radius: 10px;
		margin-top: 2%;
	}

	.bricktext{
		padding-left: 10vw;
		margin-top: 1.5vh;
		position: absolute;
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 16px;
	}

	.sidetext{
		position: absolute;
    	transform: rotate(-90deg);
    	margin-top: 6vh;
    	margin-left: 2vw;
    	z-index: 10;
    	color: #D8E2EC;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
	}

	.addbrick{
		display: block;
		border: 1px solid #D8E2EC;
		width: 95vw;
		height: 12vh;
		margin-left: 10vw;
		border-radius: 10px;
		margin-top: 2%;
		padding-bottom: 20%;
	}

	.addtext{
		padding-left: 18vw;
		margin-top: 4.6vh;
		position: absolute;
		color: #D8E2EC;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 16px;
	}

	.babycircle{
		width: 20px;
		height: 20px;
		background: linear-gradient(to bottom right, #DEC3FC , #96C5FC);
		position: absolute;
		margin-left: -8vw;
		border-radius: 10px;
		box-shadow: 0px 0px 2px 2px #CBE1FD;
	}

	.babycircle ion-icon{
		margin-left: 6px;
		color: #fff;
		font-size: 18px;
	}

	.creategroup{
    	margin-left: 15vw;
		margin-top: 3vh;
		padding: 3%;
		padding-left: 5%;
		border: 1px solid #CBE1FD;
		border-radius: 5px;
		width: 60vw;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
	}

	.createinput ion-icon{
    	margin-left: 7vw;
    	font-size: 24px;
    	position: absolute;
    	margin-top: 4.5vh;
    	z-index: 9000;
	}

	.slidingitem{
		border: none !important;
		padding: 0 !important;
		margin: 0 !important;
		background-color: green;

		display: block;
		background: linear-gradient(to right, #DEC3FC , #96C5FC);
		height: 12vh !important;
		margin-left: 10vw !important;
		margin-top: 2% !important;
		border-top-left-radius: 10px !important;
		border-bottom-left-radius: 10px !important;
	}

	.sliderpart{
		width: 37vw !important;
		height: 12vh !important;
		margin-top: 2% !important;
		border: none !important
	}

	.sliderpart button{
		background-color: #DEC3FC;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 14px;
	}

	.sliderpart button:hover{
		background-color: #e74c3c;
	}

	ion-item-sliding{
		border: none !important
	}
}		
=======
}
>>>>>>> da1ae56e3af1d1cd0b26163f19e7e009636483aa
