<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header> -->
<button class="specialmenu" menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
    
  <h1>Groups <a href="#">today.</a></h1>
  <h2>13 groups, Sunday 21 June</h2>

<ion-content>
    <div class="addbrick" (click)="togglecreateinput()"><span *ngIf="createinput" class="createinput"><span  (click)="untogglecreateinput()"><ion-icon name="close" style="color: #e74c3c"></ion-icon></span><input type="text" placeholder="Group Name..." class="creategroup" /><ion-icon name="checkmark" style="color: #2ecc71"></ion-icon></span> <span class="addtext" *ngIf="!createinput"><span class="babycircle"><ion-icon name="add"></ion-icon></span> Create Group</span></div>
    <br />
    <span class="sidetext">192</span><div class="slidebrick"><span class="bricktext">Interface Design Thinking</span></div>
    <br />
    <span class="sidetext">520</span><div class="slidebrick"><span class="bricktext">Exploring Sketch</span></div>
</ion-content>
